
<div id="content_conversation" class="ng-cloak" ng-cloak>
    <div ng-controller="AdminConversationsCtrl" id="adminConversationCtrl" class="settingsblock">
        <div> 
            <fieldset>
                <h1>Last conversations</h1>
                
            </fieldset>
        </div>

        <div class="joined">
            <fieldset>
                <h1>Conversation</h1>

            </fieldset>
        </div>
    </div>
</div>
