
<div id="content_department" class="ng-cloak" ng-cloak>
    <div ng-controller="AdminDepartmentsCtrl" id="adminDepartmentCtrl" class="settingsblock">
        
        <div>
            <fieldset>
                <h1>Department infos</h1>
                
            </fieldset>
        </div>
        <div class="joined">
            <fieldset>
                <h1>Search departments</h1>

            </fieldset>
        </div>
        <div>
            <fieldset>
                <h1>Add department</h1>

            </fieldset>
        </div>
    </div>
</div>