
<div id="content_department" class="ng-cloak" ng-cloak>
    <div ng-controller="AdminDepartmentsCtrl" id="adminDepartmentCtrl" class="settingsblock">
        
        <div>
            <fieldset>
                <h1>Departments</h1>
                

                <ul>
                    <li class="filters">
                        <input ng-model="newDepartmentName" type="text" on-enter="addDepartment()" />
                        <button ng-click="addDepartment();">
                            Add
                        </button>
                    </li>
                    <li class="filters">
                        <input ng-model="query" type="text" placeholder="Search..." on-enter="enterFilter(query)" ng-change="checkEmptyFilter(query);">
                        <button ng-click="enterFilter(query);">
                            ok
                        </button>

                        <select ng-model="departmentsOrder" ng-change="currentPage=0;getDepartments()">
                            <option value="0">Choose order...</option>
                            <option value="1">A-Z order</option>
                            <option value="2">Z-A order</option>
                        </select>
                    </li>
                    <li class="widget loading" ng-show="loadingDepartments"></li>
                    <li ng-repeat="department in departments" ng-class-even="'even'">
                        <p class="userElt">
                            <span>{{department.name}}</span>
                            <button ng-click="selectDepartment(department)">Show</button>
                        </p>
                    </li>
                    <p class="no_item_info" ng-show="!departments.length && !filterDepartmentName.length && !loadingDepartments">No departments</p>
                    <p class="no_item_info" ng-show="!departments.length && filterDepartmentName.length && !loadingDepartments">No retrieved departments</p>
                </ul>
                <p class="pages" ng-hide="!people.length">
                    <button ng-disabled="currentPage == 0" ng-click="previousDepartments()">
                        Previous
                    </button>
                    {{currentPage+1}}/{{totalPageCount}}
                    <button ng-disabled="currentPage >= totalPageCount - 1" ng-click="nextDepartments()">
                        Next
                    </button>
                </p>
            </fieldset>
        </div>
        <div ng-show="selectedDepartment">
            <fieldset>
                <h1>{{selectedDepartment.name}} Infos</h1>
                <ul>
                    <li ng-hide="!selectedDepartment.users.length">
                        <label>Number of users : {{selectedDepartment.users.length}}</label>
                        <br/>
                    </li>
                    <li ng-repeat="user in selectedDepartment.users" ng-class-even="'even'">
                        <p class="userElt">
                            <span>{{user.userName}}</span>
                        </p>
                    </li>
                    <p class="no_item_info" ng-show="!selectedDepartment.users.length">No users</p>
                </ul>
            </fieldset>
        </div>
    </div>
</div>