
<div id="content_user" class="ng-cloak" ng-cloak>
    <div ng-controller="AdminUsersCtrl" id="adminUserCtrl" class="settingsblock">
        <div> 
            <fieldset>
                <h1>Search users</h1>
                <ul>
                    <li class="filters">
                        <input ng-model="query" type="text" placeholder="Search..." on-enter="enterFilter(query)" ng-change="checkEmptyFilter(query);">
                        <button ng-click="enterFilter(query);">
                            ok
                        </button>

                        <select ng-model="usersOrder" ng-change="currentPage=0;getUsers()">
                            <option value="0">Choose order...</option>
                            <option value="1">A-Z order</option>
                            <option value="2">Z-A order</option>
                        </select>
                    </li>
                    <li class="widget loading" ng-show="loadingUsers"></li>
                    <li ng-repeat="user in users" ng-class-even="'even'">
                        <p class="userElt">
                            <span>{{user.userName}}</span>
                            <button ng-click="selectUser(user)">Show</button>
                        </p>
                    </li>
                    <p class="no_item_info" ng-show="!users.length && !filterUserName.length && !loadingUsers">No users</p>
                    <p class="no_item_info" ng-show="!users.length && filterUserName.length && !loadingUsers">No retrieved users</p>
                </ul>
                <p class="pages" ng-hide="!people.length">
                    <button ng-disabled="currentPage == 0" ng-click="previousUsers()">
                        Previous
                    </button>
                    {{currentPage+1}}/{{totalPageCount}}
                    <button ng-disabled="currentPage >= totalPageCount - 1" ng-click="nextUsers()">
                        Next
                    </button>
                </p>
            </fieldset>
        </div>

        <div ng-show="selectedUser">
            <fieldset>
                <h1><strong style="font-size:18px">{{selectedUser.userName}}</strong> infos</h1>
                <ul>
                    <li>
                        <label for="mail">Email:</label>
                        <input type="text" name="mail" ng-model="selectedUser.email" />
                    </li>
                    <li>
                        <label for="firstname">First name:</label>
                        <input type="text" name="firstname" ng-model="selectedUser.firstName" />
                    </li>
                    <li>
                        <label for="lastname">Last name:</label>
                         <input type="text" name="lastname" ng-model="selectedUser.lastName" />
                    </li>
                    <li>
                        <label for="isbanned">Is banned</label>
                        <input type="checkbox" name="isbanned" ng-model="selectedUser.isBanned" />
                    </li>
                    <p><button ng-click="editSelectedUser()">Edit</button></p>
                 </ul>

            </fieldset>
        </div>
    </div>
</div>