
<div id="content_user" class="ng-cloak" ng-cloak>
    <div ng-controller="AdminUsersCtrl" id="adminUserCtrl" class="settingsblock">
        <div> 
            <fieldset>
                <h1>Search users</h1>
                
            </fieldset>
        </div>

        <div class="joined">
            <fieldset>
                <h1>User infos</h1>

            </fieldset>
        </div>
        <div>
            <fieldset>
                <h1>Add user</h1>

            </fieldset>
        </div>
    </div>
</div>